<div class="alert-list">
    <ng-container *ngIf="alertList.length">
        <div 
            [@alertAnimation]
            *ngFor="let id of alertList" 
            [ngClass]="{ 
                'alert': message, 
                'alert alert-success': alerts[id].success === true, 
                'alert alert-danger': alerts[id].success === false }"
                >
            <div class="alert-close" (click)='dismiss(id)'>X</div>
            <p>{{alerts[id].message}}</p>
        </div>
    </ng-container>
</div>