@import "src/styles.scss";

.alert {
    border-radius: $border-radius-small;
    margin: $padding-small;
    padding: $padding-small;
  
    background-color: $color-background-card;
    color: black;
}

.alert-success {
    background-color: lightgreen;
}

.alert-danger {
    background-color: lightsalmon;
}