$break-tiny: 550px;
$break-sm: 768px;
$break-md: 1200px;
$break-lg: 1600px;

$padding-none:    0px;
$padding-tiny:    2px;
$padding-small:   5px;
$padding-medium:  15px;
$padding-large:   25px;
$padding-xlarge:  35px;

$font-heading: 2rem;
$font-subheading: 1.7rem;
$font-body: 1rem;
$font-footnote: 0.75rem;

$border-radius-small: 5px;

$column-gap: $padding-tiny;
$row-gap: $padding-tiny;

$color-icon-blue: #00BFFF;
$color-icon-blue-dark: rgba(0, 191, 255, 0.4);

$color-icon-white: azure;


$color-background-default: #efefef;
$color-background-navbar: #383838;
$color-background-card: lightgray;

$color-font-default: darkslategray;
$color-font-navbar: silver;
$color-font-card: darkslateblue;

$height-navbar: 50px;

@import url(//fonts.googleapis.com/css?family=Open+Sans);

body {
  color: $color-font-default;
  font-family: 'Open Sans', sans-serif;

  display: grid;
  grid-column-gap: $column-gap;
  grid-row-gap: $row-gap;
  margin: 0;

  background-image: url('src/assets/images/app/cartographer.png');
  background-repeat: repeat;
}

.card {
  border-radius: $border-radius-small;
  margin: $padding-small;
  padding: $padding-small;

  background-color: $color-background-card;
  color: $color-font-card;
}

.pulsing {
    opacity: 0;
}

button {
  position: relative;
  display: inline-block;

  padding: 5px;
  transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;

  outline: none;
  border: none;
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
  border-radius: $border-radius-small;

  font: 'Open Sans', sans-serif;
  color: $color-font-default;
  font-size: 0.75rem;

  background-color: lighten($color-background-card, 50%);
}

button:hover,
button:focus {
    transform: scale(1.05);
    background-color: lighten($color-background-card, 75%);
}

button:after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  margin-top: -5px;
  margin-left: -43px;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transition: opacity 0.15s ease-in-out;
}

button:focus:after {
  transform: scale(1);
}

button:hover:after {
  opacity: 1;
}

button:active {
    transform: scale(0.95);
}

// Mobile-only
@media only screen and (max-width: $break-sm) {

}

// Tablet
@media only screen and (max-width: $break-md) {

}

// Desktop
@media only screen and (max-width: $break-md) {

}
